html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

html,
body {
  font-size: $baseFontSize;
  height: 100%;
}

body {
  background-color: $white;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper__main {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-radius: collapse;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
}


input[type=range] {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #e01f3d;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -4px;
  width: 13px;
  height: 13px;
  background: #e01f3d;
  border: 1px solid rgba(0, 31, 61, 0);
  border-radius: 7px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e33550;
}

input[type=range]::-moz-range-track {
  background: #e01f3d;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background: #e01f3d;
  border: 1px solid rgba(0, 31, 61, 0);
  border-radius: 7px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4px 0;
  color: transparent;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #ca1c37;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
}

input[type=range]::-ms-fill-upper {
  background: #e01f3d;
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
}

input[type=range]::-ms-thumb {
  width: 13px;
  height: 13px;
  background: #e01f3d;
  border: 1px solid rgba(0, 31, 61, 0);
  border-radius: 7px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #e01f3d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #e33550;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}