.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white-background;

  @include phones {
    flex-direction: column;
  }

  &__text {
    @include Body2Semibold;
    color: $black;

    @include phones {
      margin-bottom: 0.75rem;
    }
  }

  &__phone-number {
    @include Body1Semibold;
    color: $black;


    @include phones {
      justify-content: center;
      margin-bottom: 1.25rem;
    }
  }

  &__col {
    display: flex;
    align-items: center;
  }

  &__contacts {
    padding: 1.25rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.16667rem;
    font-style: normal;
  }
}