.headline {
  text-align: center;

  &__title.section__title {
    margin-bottom: rem(18px);

    @include phones {
      font-size: rem(40px);
      line-height: rem(36px);
      margin-bottom: rem(8px);
    }
  }

  &__subtitle {
    @include textBodylight;
    font-weight: 400;
    color: $body;
    padding: 0 30%;
    margin-bottom: rem(50px);

    @include phones {
      font-size: rem(18px);
      line-height: rem(22px);
      padding: 0 5%;
      margin-bottom: rem(54px);
    }
  }
}