.modal {
  display: none;
  max-width: rem(500px);

  &.error-modal {
    .modal__title {
      color: red;
    }
  }

  &.famcybox-content {
    padding: 0 !important;
  }

  .fancybox-button {
    display: none;
  }

  &__content {
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: $white;
    padding: rem(35px) rem(60px);
    width: 309px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99999;
    opacity: 1;
  }

  &__title {
    @include textBodySemibold;
    margin-bottom: rem(16px);
  }
}