.socials {
  cursor: pointer;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem;
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: $grey;

    &:hover {
      fill: $black;
    }
  }
}