$containerWidth: 1100px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

// mixin

@mixin h1 {
  color: $textblack;
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(58px);
}

@mixin h2 {
  color: $textblack;
  font-size: rem(36px);
  font-weight: 700;
  line-height: rem(44px);
}

@mixin h3 {
  color: $textblack;
  font-size: rem(27px);
  font-weight: 700;
  line-height: rem(32px);
}

@mixin textBodyBold {
  color: $textblack;
  font-size: $baseFontSize;
  font-weight: 700;
  line-height: rem(22px);
}

@mixin textBodySemibold {
  color: $textblack;
  font-size: $baseFontSize;
  font-weight: 500;
  line-height: rem(24px);
}

@mixin textBodyRegular {
  color: $textblack;
  font-size: $baseFontSize;
  font-weight: 400;
  line-height: rem(22px);
}

@mixin textSemibold {
  color: $textblack;
  font-size: rem(16px);
  font-weight: 500;
  line-height: rem(24px);
}

@mixin textRegular {
  color: $textblack;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(24px);
}

@mixin textBodylight {
  color: $textblack;
  font-size: $baseFontSize;
  font-weight: 300;
  line-height: rem(22px);
}

// colors

$benjamin: #333537;
$white: #FFFFFF;
$black: #292929;
$body: #666666;
$yellow: #FEDB3F;
$textblack: #303236;
$blue: #1968B1;
$grey: #B3B3B3;
$grideperleft: #F8FAF9;
$сaparol:#ECECEC;
$matisse:#3A587E;
$azure:#3465A3;
$alto:#D5D5D5;

//z-indexs

$z-fixed-menu: 100;

//media

@function rem($px) {
  @return calc($px / $baseFontSize)+0rem;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// setups

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");

// components

@import "./components/*";
@import "./layout/*";
