.footer {
  padding: 44px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }


  &__text {
    @include textRegular;
    color: $black;

    @include phones {
      margin-bottom: rem(12px);
    }
  }

  &__phone-number {
    @include textRegular;
    color: $black;

    @include phones {
      justify-content: center;
      margin-bottom: rem(20px);
    }
  }

  &__col {
    display: flex;
    align-items: center;
  }

}