.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include textBodyBold;

}

.contacts__tel.header__phone-number {
  @include tablets {
    display: none;
  }
}