.headline {
  text-align: center;

  &__title {
    margin-bottom: rem(17px);
  }

  &__subtitle {
    @include textBodylight;
    font-weight: 400;
    color: $body;
    padding: 0 30%;
    margin-bottom: rem(50px);

    @include phones {
      padding: 0 5%;
      margin-bottom: rem(53px);
    }
  }
}