.reviews {

  &__display {
    padding: rem(42px);
    background: $grideperleft;
    margin-bottom: rem(15px);

    @include tablets {
      margin-bottom: rem(32px);
    }

    @include phones {
      padding: 0 rem(30px);
    }
  }

  &__displey-inner {
    display: flex;

    @include tablets {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  &__avatar {
    width: rem(254px);
    height: rem(264px);

    @include tablets {
      width: rem(130px);
      height: rem(130px);
      margin-bottom: rem(32px);

    }
  }

  &__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    flex: 1;
    margin-left: rem(20px);
  }

  &__title {
    @include h3;
    margin-bottom: rem(14px);

    @include phones {
      font-size: rem(27px);
      padding: 0 rem(100px);
    }
  }

  &__text {
    @include textBodyRegular;
    color: $body;
    margin-bottom: rem(26px);
  }

  &__author {
    @include textBodySemibold;
  }

  &__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}