.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  justify-content: center;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  @include tablets {
    justify-content: center;
  }

}