.socials {
  // margin-left: rem(210px);
  cursor: pointer;

  // @include phones {
  //  margin-left: 0;
  // }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  &__item--icon--vk {
    // position: relative;
    // display: block;
    // text-decoration: none;
  }

  &__link {
    width: rem(20px);
    height: rem(20px);
    fill: $grey;

    &:hover {
      fill: $black;
    }
  }
}